@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.controls button {
    border: none;
    cursor: pointer;
    background: url("https://dev.xiguashuwang.cc/static/snsV2/pc/image/headfoot/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.controls button:hover,
.controls button:focus {
    opacity: 0.5;
}
